@model events.Models.ProductListViewModel


<h1>Admin Products</h1>
<hr>
<b>Yeni Kayıt Ekle: </b>
<a href="/admin/CreateProduct" class="btn btn-success btn-sm">ADD</a>
<br><br>
<table class="table table-bordered">  
    <thead>
        <tr>
            <td>ID</td>
            <td>Image</td>
            <td>Name</td>
            <td>Price</td>
            <td>Date</td>
            <td>Location</td>
            <td>Description</td>
            <td>Onaylı</td>
            <td>İşlem</td>

        </tr>
        <tbody>
           @if(Model.Products.Count>0) 
           {
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td><img src="~/img/@item.ImgUrl" width="80"></td>
                        <td>@item.Name</td>
                        <td class="fa fa-turkish-lira">@item.Price</td>
                        <td>@item.eventDate</td>
                        <td>@item.Location</td>
                        <td>@item.Description</td>
                        <td>
                            @if(item.IsApproved)
                            {
                                <i class="fas fa-check-circle"></i>
                            }else{
                                <i class="fas fa-times-circle"></i>
                            }
                        </td>

                        <td>
                            <a href="/admin/EditProduct/@item.ProductId" class="btn btn-primary btn-sm mr-2 mb-2">Edit</a>
                            <form action="/admin/deleteproduct" method="POST" style="display: inline;">
                                <input type="hidden" name="productId" value="@item.ProductId">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>                
                } 
           }
           else
           {
                <div class="alert alert-warning">
                    <h3>No Product</h3>    
                </div>
           }

  
        </tbody>
    </thead>
</table>




