@model IEnumerable<User>

@section Css
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
}

@section Scripts
{
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
}  


<div class="row" >
<div class="col-md-12" >
<h1>User List</h1>
<hr>
<a href="/admin/UserCreate" class="btn btn-success btn-sm mb-3">Create User</a>
<hr>
<table  id="myTable" class="table table-bordered mt-3" >  
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Email Confirmed</td>
            <td>Process</td>
        </tr>
        <tbody>
           @if(Model.Count()>0) 
           {
                @foreach (var item in Model)
                {
                    <tr class="@(item.EmailConfirmed?"":"bg-warning")">
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.EmailConfirmed</td>
                        <td>
                            <a href="/admin/UserEdit/@item.Id" class="btn btn-primary btn-sm mr-2">Edit</a>
                            <form action="/admin/UserDelete" method="POST" style="display: inline;">
                                <input type="hidden" name="UserId" value="@item.Id">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>                
                } 
           }
           else
           {
                <div class="alert alert-warning">
                    <h3>No Users</h3>    
                </div>
           }

  
        </tbody>
    </thead>
</table>

</div>
</div>


